<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index/style.css">
    <title>Home</title>
</head>
<body>
<!---Header Section-->
<header>
     <div class="header-flex">
        <img src="/static/index/img/logo 2.jpg" alt="logo" width="50">
        <h1 class="home">CRYPTODALA</h1>
     </div>
     <div class="hamburger-menu">
        <div class="bar-1"></div>
        <div class="bar-2"></div>
        <div class="bar-3"></div>
    </div>
     <div class="menu-container">
         <a href="#" class="index">HOME</a>
         <a href="#" class="buy-button-click">BUY</a>
         <a href="#" class="sell-button-click">SELL</a>
         <a href="#">P2P</a>
         <a href="#margin">MARKETS</a>
         <a href="#what-we-do">WHAT WE DO</a>
     </div>
     <div class="register">
         <a href="#" class="sign-in-button">SIGN IN |</a>
         <a href="#" class="sign-up-button">REGISTER</a>
     </div>
     <div class="info">
         <a href="#">SUPPORTED GAMES |</a>
         <a href="#">$USD |</a>
         <a href="#">ENG</a>
     </div>
</header>
<!---Showcase Area-->
<div class="spa-1">
<div class="container">
<div class="showcase">
    <div class="carousel">
    <div class="carousel-item active"></div>
    <div class="carousel-item"></div>
    <div class="carousel-item"></div>
   </div>
    <div class="showcase-2">
    <p>Cryptodala.com is a crypto gaming specific exchange that supports most tokens in the Smart Chain, Ethereum, Solana & Avalanche networks</p>
    <p><strong>Only</strong> DIRECT CASH-IN, CASH-OUT <strong>PLATFORM</strong> FOR <a href="#">Cryptogames & Investments</a></p>
    </div>
</div>
<!--Buy and Sell section-->
<div class="buy-sell">
    <div class="buy">
        <a href="#"><button class="buy-control">Buy</button></a>
        <p><strong>INVEST IN A CRYPTO GAME</strong></p>
        <div></div>
        <p>Only 04% service fees</p>
    </div>
    <div class="sell">
        <a href="#"><button class="sell-control">Sell</button></a>
        <p><strong>CASH-OUT YOUR EARNING</strong></p>
        <div></div>
        <p>Only 08% service fees</p>
    </div>
</div>
</div>
<!--Buy modal-->
<div class="buy-modal">
    <div class="header-modal">
        <div class="buy-sell-modal">
            <p class="buy-toggle">buy</p>
            <p class="sell-toggle">sell</p>
        </div>
        <div class="close">x</div>
    </div>
    <div class="sell-modal">
       <div>
        <p class="sell-modal-pay">PAY</p>
    </div>
    <div class="sell-option-modal" id="fhf">
            <input type="text">
            <select>
                <option value="cryptocurrency">Cryptocurrency</option>
                <option value="cryptocurrency">Fiat</option>
            </select>
    </div>
    </div>
    <div class="modal-container">
        <div class="sell-modal">
            <p class="sell-modal-buy">BUY</p>
            <div class="sell-option-modal">
                <input type="text">
                <select>
                    <option value="currency">Currency</option>
                    <option value="cryptocurrency">Cryptocurrency</option>
                </select>
            </div>
        </div>
    </div>
      <div class="select-modal">
        <select>
            <option value="payment details of transaction">Payment details of transaction</option>
        </select> <br>
    </div>
        <button>PAY | TOTAL </button>
</div>
<!--Sell Modal-->
<div class="selling-modal">
    <div class="header-modal">
        <div class="buy-sell-modal">
            <p id="buy-toggle">buy</p>
            <p id="sell-toggle">sell</p>
        </div>
        <div class="close-sell">x</div>
    </div>
    <div class="sell-modal">
       <div>
        <p class="sell-modal-sell">SELL</p>
    </div>
    <div class="sell-option-modal" id="fhf">
            <input type="text">
            <select>
                <option value="cryptocurrency">Cryptocurrency</option>
                <option value="cryptocurrency">Fiat</option>
            </select>
    </div>
    </div>
    <div class="modal-container">
        <div class="sell-modal">
            <p class="sell-modal-receive">RECEIVE</p>
            <div class="sell-option-modal">
                <input type="text">
                <select>
                    <option value="currency">Currency</option>
                    <option value="cryptocurrency">Cryptocurrency</option>
                </select>
            </div>
        </div>
    </div>
      <div class="select-modal">
        <select>
            <option value="payment details of transaction">Payment details of transaction</option>
        </select> <br>
    </div>
        <button>PAY | TOTAL </button>
</div>
<div id="what-we-do">
<div class="what-we-do">
    <img src="/static/index/img/IMG_20220115_093146_346.png" alt="what-we-do">
    <div class="content">
        <h1>Making Crypto Easier</h1>
        <ul>
            <li><strong style="color:gold;">Buy</strong> coins directly to your <strong style="color: goldenrod;">wallet</strong></li>
            <li><strong style="color:goldenrod;">Sell</strong> coins, straight to <strong>GCASH/PAYMAYA/Bank.</strong></li>
            <li><strong style="color:gold;">Automated</strong>  Contracts</li>
            <li>Mobile<strong style="color: goldenrod;"> Responsive</strong></li>
        </ul>
    </div>
</div>
<p class="monthly">Monthly Statistics</p>
<div class="statistics">
 <p>Site Transactions: 77,777</p> <p>Views: 77,777 </p> <p>Merchant Transactions: 77,777</p>
</div>
</div>
</div>

<!-- Markets-->
<div class="spa-market">
<div class="margin" id="margin">
    <div class="fourth-container">
    <div class="grid-practice">
                <div class="head">COINS</div>
                <div class="head">PRICE</div>
                <div class="head">CHANGE(1WK)</div>
                <div class="head buy-this">DIRECT BUY</div>
                <div class="head sell-this">DIRECT SELL</div>
                <div class="head">CHART</div> 
                    <div class="title row">
                        <div class="circle"></div>
                         <p>MONSTA INFINITE</p>
                    </div>
                    <div class="price row">P231.22</div>
                    <div class="change row">+23%</div>
                    <div class="buy-button row"><button>Buy</button></div>
                    <div class="sell-button row"><button>Sell</button></div>
                    <img src="/static/index/img/IMG_20220115_093151_927.png" class="chart row" width="100">
                    <div class="title row">
                        <div class="circle"></div>
                         <p>AXIE INFINITE (AXS)</p>
                    </div>
                    <div class="price row">P231.22</div>
                    <div class="change row">+23%</div>
                    <div class="buy-button row"><button>Buy</button></div>
                    <div class="sell-button row"><button>Sell</button></div>
                    <img src="/static/index/img/IMG_20220115_093151_927.png" class="chart row" width="100">
                    <div class="title row">
                        <div class="circle"></div>
                         <p>AXIE INFINITE (SLS)</p>
                    </div>
                    <div class="price row">P231.22</div>
                    <div class="change row">+23%</div>
                    <div class="buy-button row"><button>Buy</button></div>
                    <div class="sell-button row"><button>Sell</button></div>
                    <img src="/static/index/img/IMG_20220115_093151_927.png" class="chart row" width="100">
                    <div class="title row">
                        <div class="circle"></div>
                         <p>BOMBERCOIN (BCOIN)</p>
                    </div>
                    <div class="price row">P231.22</div>
                    <div class="change row">+23%</div>
                    <div class="buy-button row"><button>Buy</button></div>
                    <div class="sell-button row"><button>Sell</button></div>
                    <img src="/static/index/img/IMG_20220115_093151_927.png" class="chart row" width="100">
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
     
    <div class="sign-in-cont">
    <div class="container-sign-up" id="container-sign-up">
        <div class="sign-up-form">
            <h2 class="sign-in-head">Email or Mobile Number</h2>
            <input type="password" placeholder="Enter Here" class="password-input">
           <h2 id="password">Password</h2>
           <input type="password" placeholder="Enter Here" class="password-input"> <br>
           <input type="submit" value="Sign In" class="register">
           <div class="forgot-password"><a href="#">Forgot password</a></div>
           <div class="have-an-account"><strong>Don't have an account?</strong> <a href="signup.html">Register now</a></div>
        </div>
     
        <div class="sign-up-showcase">
         <h1>Sign In</h1>
         <img src="/static/index/img/logo 2.jpg" alt="logo" width="200">
         <p class="welcome">Welcome back!</p>
         <p class="welcome-message">Login to CryptoDala with your email or mobile number and password</p>
     </div>
        </div>
    </div>


    <div class="sign-up-cont">
        <div class="container-sign-up">
        <div class="sign-up-form">
          <div class="email-mobile">
              <h2 class="email-option">Email</h2>
              <h2 class="mobile-option">Mobile</h2>
          </div>
           <div class="select-input">
               <select class="select-js">
               </select>
               <input type="text" placeholder="Enter your number here" class="mobile-input">
               <input type="text" placeholder="Enter your email here" class="email-input">
           </div>
           <h2 class="password">Password</h2>
           <input type="password" placeholder="Enter Here" class="password-input"> <br>
           <input type="submit" value="Register" class="register" onclick="register()">
           <div class="have-an-account"><strong>Have an account?</strong> <a href="signin.html">Sign In</a></div>
        </div>
     
        <div class="sign-up-showcase" id="sign-up-showcase">
         <h1>Make an Account.</h1>
         <img src="/static/index/img/logo 2.jpg" alt="logo" width="200">
         <p class="welcome">Welcome!</p>
         <p class="welcome-message">Create a CryptoDala account with either an email or a mobile number</p>
     </div>
        </div>
     </div>
    
    <!--Menu bar-->
   <div class="menu-bar">
        <a  class="button-click">BUY</a> 
        <a class="button-sell-click">SELL</a> 
        <a href="#">P2P</a>
        <a href="#margin">MARKETS</a> 
        <a href="#what-we-do">WHAT WE DO</a>
        <a href="#" class="sign-in-btn">SIGN IN</a>
        <a href="#" class="sign-up-btn">REGISTER</a>
        <a href="#">SUPPORTED GAMES</a>
   </div>
 <script src="/static/index/js/signup2.js"></script>
<script src="/static/index/js/main.js"></script>
<script src="/static/index/js/auth.js"></script> 
<div class="hey"></div> 
</body>
</html>