<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Market | CryptoDala</title>
</head>
<body>
<!---Header Section-->
<header>
    <div class="header-flex">
       <img src="img/logo 2.jpg" alt="logo" width="50">
       <h1>CRYPTODALA</h1>
    </div>
    <div class="menu-container">
        <a href="index.html">HOME</a>
        <a href="#">BUY</a>
        <a href="#">SELL</a>
        <a href="#">P2P</a>
        <a href="market.html">MARKETS</a>
        <a href="what-we-do.html">WHAT WE DO</a>
    </div>
    <div class="register">
        <a href="#">SIGN IN |</a>
        <a href="#">REGISTER</a>
    </div>
    <div class="info">
        <a href="#">SUPPORTED GAMES |</a>
        <a href="#">$USD |</a>
        <a href="#">ENG</a>
    </div>
</header>
<!-- Markets-->
<div class="margin">
<div class="fourth-container">
<div class="grid-practice">
            <div class="head">COINS</div>
            <div class="head">PRICE</div>
            <div class="head">CHANGE(1WK)</div>
            <div class="head buy-this">DIRECT BUY</div>
            <div class="head sell-this">DIRECT SELL</div>
            <div class="head">CHART</div> 
                <div class="title row">
                    <div class="circle"></div>
                     <p>MONSTA INFINITE</p>
                </div>
                <div class="price row">P231.22</div>
                <div class="change row">+23%</div>
                <div class="buy-button row"><button>Buy</button></div>
                <div class="sell-button row"><button>Sell</button></div>
                <img src="img/IMG_20220115_093151_927.png" class="chart row" width="100">
                <div class="title row">
                    <div class="circle"></div>
                     <p>AXIE INFINITE (AXS)</p>
                </div>
                <div class="price row">P231.22</div>
                <div class="change row">+23%</div>
                <div class="buy-button row"><button>Buy</button></div>
                <div class="sell-button row"><button>Sell</button></div>
                <img src="img/IMG_20220115_093151_927.png" class="chart row" width="100">
                <div class="title row">
                    <div class="circle"></div>
                     <p>AXIE INFINITE (SLS)</p>
                </div>
                <div class="price row">P231.22</div>
                <div class="change row">+23%</div>
                <div class="buy-button row"><button>Buy</button></div>
                <div class="sell-button row"><button>Sell</button></div>
                <img src="img/IMG_20220115_093151_927.png" class="chart row" width="100">
                <div class="title row">
                    <div class="circle"></div>
                     <p>BOMBERCOIN (BCOIN)</p>
                </div>
                <div class="price row">P231.22</div>
                <div class="change row">+23%</div>
                <div class="buy-button row"><button>Buy</button></div>
                <div class="sell-button row"><button>Sell</button></div>
                <img src="img/IMG_20220115_093151_927.png" class="chart row" width="100">
                </div>
            </div>
            </div>
        </div>
<script src="main.js"></script> 
</body>
</html>